@font-face
	font-family: "Source Sans Pro Light"
	font-wight: 100

@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima Nova Alt Regular-webfont.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima Nova Semibold-webfont.ttf')
	font-weight: 500
	font-style: 500

@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima Nova Thin-webfont.ttf')
	font-weight: 100
	font-style: 100