@font-face
    font-family: "Bahnschrift"
    src: url('../fonts/bahnschrift_reg.ttf')
@font-face
    font-family: "Bahnschrift Light"
    src: url('../fonts/bahnschrift_light.ttf')
@font-face
    font-family: "Bahnschrift Semicondensed"
    src: url('../fonts/bahnschrift._semibold.ttf')
@font-face
    font-family: "Bahnschrift Bold"
    src: url('../fonts/bahnschrift_bold.ttf')